@using Portal.Data
@model EditTransferMoneyVM;
@{
    ViewData["Title"] = "تحويل مبلغ";
    var names = ViewData["Names"] as List<MosbName>;
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="d-flex align-items-center justify-content-center h-px-600">
        <form id="formRequest" class="card border-danger border-3 w-px-600 border rounded p-3 p-md-5" method="post">
            <h5 class="mb-5">تحويل مبلغ من رصيد الى رصيد اخر</h5>
            <input type="hidden" asp-for="SpendMoneyId" name="SpendMoneyId" value="@Model.SpendMoneyId" />
            <input type="hidden" asp-for="ReceivePaymentId" name="ReceivePaymentId" value="@Model.ReceivePaymentId" />
            التاريخ: @Model.Date
            <h2 class="mb-2 mt-2">
                @Model.FromNameText
                <i class='bx bxs-left-arrow-alt'></i>
                @Model.ToNameText
            </h2>
            <div class="mb-3">
                <label class="form-label">المبلغ</label>
                <input type="number" id="Amount" name="Amount" class="form-control" asp-for="Amount" placeholder="0.00" value="@Model.Amount" required />
            </div>
            <div class="mb-4">
                <label class="form-label">السبب</label>
                <textarea id="Description"
                          name="Description"
                          class="form-control"
                          asp-for="Description"
                          rows="3" required>@Model.Description</textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary float-end">حفظ</button>
            </div>
        </form>
    </div>
</div>



@section Stylesheet {
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.css" />

}

@section Scripts {
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>


    <script>
        $(document).ready(function () {

            $("#formRequest").submit(function (e) {
                if (!ValidateData()) return;
                e.preventDefault();
                ConfirmEditTransfer();
            });
        });
        function GetData() {
            var data = {
                SpendMoneyId: $("#SpendMoneyId").val(),
                ReceivePaymentId: $("#ReceivePaymentId").val(),
                Amount: $("#Amount").val(),
                Description: $("#Description").val()
            };
            return data;
        }
        function ValidateData() {
            var data = GetData();
            if (data.Amount == "" || data.Amount == 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'الرجاء ادخال المبلغ',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false;
            }
            if (data.Description == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'الرجاء ادخال السبب',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false;
            }
            return true;
        }
        function ConfirmEditTransfer() {
            Swal.fire({
                title: 'هل انت متأكد؟',
                text: "هل تريد تعديل البيانات؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم',
                cancelButtonText: 'لا'
            }).then((result) => {
                if (result.isConfirmed) {
                    AjaxRequest()
                }
                return false;
            });
        }
        function AjaxRequest() {
            if (!ValidateData()) return;
            var data = GetData();
            $.ajax({
                url: "@Url.Action("EditTransferMoneyAjax", "Edit")",
                type: "POST",
                data: data,
                success: function (response) {
                    if (response.status) {
                        Swal.fire({
                            icon: 'success',
                            title: 'تم التعديل بنجاح',
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        setTimeout(function () {
                            window.close();
                        }, 1900);
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'حدث خطأ',
                            text: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'حدث خطأ',
                        text: response.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        }


    </script>


}
