@model GeneralBalanceVM;
@{
    ViewData["Title"] = "الرصيد العام";
}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    @* جميع الايداعات العامة *@
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title header-elements">
                <h5 class="m-0 me-2">الرصيد العام</h5>
                <div class="card-title-elements ms-auto">
                    <select id="YearList" class="select2 form-select">
                        <option value="0000">كل السنوات</option>
                        @foreach (var item in Model.YearsList)
                        {
                            if (item.IsSelected)
                            {
                                <option selected value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-1 h-px-250">
                    <table style="font-size: x-large; width: 100%;">
                        <tr>
                            <td class="text-center">
                                <label class="label">جميع الايداعات</label>
                                <i class="bx bx-left-arrow-alt"></i>
                                <span class="badge rounded-pill bg-info">@Model.AllReceivePaymentsAmount</span>
                            </td>
                            <td class="text-center">
                                <span class="badge rounded-pill bg-dark">-</span>
                            </td>
                            <td class="text-center">
                                <label class="label">جميع المصروفات</label>
                                <i class="bx bx-left-arrow-alt"></i>
                                <span class="badge rounded-pill bg-warning">@Model.AllSpendMoneyAmount</span>
                            </td>
                            <td class="text-center">
                                <span class="badge rounded-pill bg-dark">=</span>
                            </td>
                            <td class="text-center">
                                <label class="label">الرصيد العام</label>
                                <i class="bx bx-left-arrow-alt"></i>
                                @if (@Model.GeneralBalance < 0)
                                {
                                    <span class="badge rounded-pill bg-danger">@Model.GeneralBalance</span>
                                }
                                else if (@Model.GeneralBalance == 0)
                                {
                                    <span class="badge rounded-pill bg-warning">@Model.GeneralBalance</span>
                                }
                                else if (@Model.GeneralBalance > 0)
                                {
                                    <span class="badge rounded-pill bg-success">@Model.GeneralBalance</span>
                                }
                            </td>
                            <td class="text-center">
                                <label class="label">الزكاة</label>
                                <i class="bx bx-left-arrow-alt"></i>
                                <span class="badge rounded-pill bg-success">@Model.Zakat</span>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#YearList').change(function () {
                var year = $('#YearList').val();
                window.location.href = '@Url.Action("GeneralBalance", "Statistics")?Year=' + year;
            });
        });
    </script>
}