@model PersonalBalanceVM;
@{
    ViewData["Title"] = "الرصيد الشخصي";
    string Personalbadge = Model.PersonalTotalAmount < 0
                          ? "badge rounded-pill bg-danger"
                          : Model.PersonalTotalAmount == 0
                          ? "badge rounded-pill bg-warning"
                          : "badge rounded-pill bg-success";
    string display = Model.PersonalBalanceIsAvailable ? "block" : "none";

}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    @* الرصيد الشخصي *@
    <div class="card">
        <div class="card-body">
            <div class="card-title header-elements">
                <h5 class="me-2 m-2">الرصيد الشخصي</h5>
                <div class="card-title-elements ms-auto btn-group">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="tf-icons bx bx-pie-chart-alt"></i>

                    </button>
                    <div class="dropdown-menu dropdown-menu-start">
                        <form class="p-4" asp-action="PersonalBalance" asp-controller="Statistics" method="get">
                            <div class="mb-2">
                                <select id="PersonalNamesList" name="NameId" class="select2 form-select w-auto" required>
                                    <option value="">اختر اسم من القائمة</option>
                                    @foreach (var item in Model.NamesList)
                                    {
                                        if (item.IsSelected)
                                        {
                                            <option selected value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <select id="PersonalYearsList" name="Year" class="select2 form-select w-auto" required>
                                    <option value="0000">كل السنوات</option>
                                    @foreach (var item in Model.YearsList)
                                    {
                                        if (item.IsSelected)
                                        {
                                            <option selected value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">بحث</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col" @(Model.PersonalBalanceIsAvailable ? "style=display:" + display : "style=display:none")>
                <span>الاسم: </span> <span class="badge rounded-pill bg-info">@Model.Name</span>
                <br />
                <span>السنة: </span> <span class="badge rounded-pill bg-info">
                    @{
                        if (Model.Year == null)
                        {
                            <text>كل السنوات</text>
                            ;
                        }
                        else
                        {
                            <text>@Model.Year</text>
                            ;
                        }
                    }
                </span>
                <br />
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-1 h-px-200">

                    <table style="font-size:larger">
                        <tr>
                            <td colspan="2" class="text-center">
                                <label class="label">جميع الايداعات الشخصية</label>
                                <i class='bx bx-left-arrow-alt'></i>
                                <span class="badge rounded-pill bg-info">@Model.PersonalReceivePayment</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <span class="badge rounded-pill bg-dark">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <label class="label">جميع المصروفات الشخصية</label>
                                <i class='bx bx-left-arrow-alt'></i>
                                <span class="badge rounded-pill bg-warning">@Model.PersonalSpendMoney</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <span class="badge rounded-pill bg-dark">=</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <label class="label">الرصيد الشخصي</label>
                                <i class='bx bx-left-arrow-alt'></i>
                                <span class="@Personalbadge">
                                    @Model.PersonalTotalAmount
                                </span>
                            </td>
                        </tr>
                        <tr class="pt-5">
                            <td colspan="2" class="text-center">
                                <label class="label">الزكاة</label>
                                <i class='bx bx-left-arrow-alt'></i>
                                <span class="badge rounded-pill bg-success">@Model.Zakat</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Stylesheet {
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />

}
<!-- Scripts -->
@section Scripts {
    <script src="~/assets/vendor/js/dropdown-hover.js"></script>

    <script>
        $(document).ready(function () {
            $('#PersonalNamesList').select2({
                placeholder: "اختر اسم من القائمة",
                allowClear: true
            });
            $('#PersonalYearsList').select2({
                placeholder: "كل السنوات",
                allowClear: true
            });
        });
    </script>
}
