@using Portal.Models.ViewModels;
@using System.Text;
@model ReasonVM;
@{
    ViewData["Title"] = "أحصائيات بسبب معين";
}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-4">
        <div class="card-header">
            <h5 class="card-title mb-0">أحصائيات بسبب معين</h5>
            <div class="d-flex align-items-center mb-3">
                <i class="bx bx-checkbox-square"></i><span class="fw-semibold mx-2">اختر اسم لتظهر جميع تفاصيله:</span>
                <div class="col-md-3 m-3">
                    <select name="ReasonId" id="ReasonList" class="select2 form-select-lg">
                    </select>
                </div>
            </div>
        </div>
        @if (Model.FromQuery)
        {
            <div class="card-body">
                <small class="text-muted text-uppercase">معلومات عن السبب المحدد</small>
                <ul class="list-unstyled mb-4 mt-3">
                    <li class="d-flex align-items-center mb-3">
                        <i class="bx bx-question-mark "></i><span class="fw-semibold mx-2">الأسم:</span>
                        <span>@Model.FromQearyDetails.Name</span>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                        <i class="bx bx-question-mark "></i><span class="fw-semibold mx-2">عدد المشاركين:</span>
                        <span>
                            @{
                                var Count = @Model.FromQearyDetails.PersonReasonMapping.Count();
                                if (Count > 0)
                                {
                                    <span>@Count</span>
                                }
                                else
                                {
                                    <span>لا يوجد مشاركين</span>
                                }
                            }
                        </span>
                    </li>
                    <li>
                        <i class="bx bx-calendar"></i><span class="fw-semibold mx-2">تاريخ الإنشاء:</span>
                        <span>@Model.FromQearyDetails.Date</span>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                        <i class="bx bx-user"></i><span class="fw-semibold mx-2">أسماء الأشخاص المرتبطين بهذا السبب:</span>
                        <span>
                            @{
                                var Name = @Model.FromQearyDetails.PersonReasonMapping.Select(re => re.Name);

                                if (Name.Any())
                                {
                                    string[] colors = { "primary", "secondary", "success", "danger", "warning", "info", "dark" };

                                    StringBuilder resultBuilder = new StringBuilder();

                                    Random random = new Random(); // Initialize random number generator

                                    foreach (var item in Name)
                                    {
                                        // Generate a random index to pick a color from the 'colors' array
                                        int randomIndex = random.Next(0, colors.Length);
                                        string randomColor = colors[randomIndex];

                                        // Append the badge to the resultBuilder
                                        resultBuilder.Append("<span class='badge p-1 bg-" + randomColor + "'>" + item.Name + "</span><br />");
                                    }

                                    <span>@Html.Raw(resultBuilder.ToString())</span>
                                }
                                else
                                {
                                    <span class="alert alert-danger" role="alert">
                                        لا يوجد أشخاص مرتبطين بهذا السبب
                                    </span>


                                }
                            }
                        </span>
                    </li>
                </ul>
                <div class="divider divider-success">
                    <div class="divider-text">احصائيات للمبالغ المستقبلة لهذا السبب فقط</div>
                </div>
                @{
                    var ReceivePaymentsForThisReason = @Model.FromQearyDetails.ReceivePaymentsReasonsMapping.Select(re => re.ReceivePayments);
                    if (ReceivePaymentsForThisReason.Any())
                    {

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">الأسم</th>
                                        <th scope="col">مجموع المبالغ</th>
                                        <th scope="col">تاريخ أخر أستقبال للمبلغ لهذا الشخص</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ReceivePaymentsForThisReason.GroupBy(x => x.NameId))
                                    {
                                        <tr>
                                            <td onclick="NameDetails('@item.Key')">@ReceivePaymentsForThisReason.Where(x=>x.NameId == item.Key).Select(xx=>xx.Name.Name).First()</td>
                                            <td>@ReceivePaymentsForThisReason.Where(x=>x.NameId == item.Key).Sum(x=>x.Amount)</td>
                                            <td>@ReceivePaymentsForThisReason.Where(x => x.NameId == item.Key).OrderByDescending(x => x.Date).FirstOrDefault().Date</td>
                                        </tr>
                                    }

                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success" role="alert">
                            <span style="color:black">لا يوجد مبالغ مدفوعة لهذا السبب</span>
                            <a asp-action="ReceivePayments" asp-controller="Create" class="btn btn-label-secondary">
                            أضافة مبالغ
                            </a>
                        </div>

                    }
                }
                <div class="divider divider-danger">
                    <div class="divider-text">احصائيات المبالغ المنفقة لهذا السبب فقط</div>
                </div>
                @{
                    var SpendPaymentsForThisReason = @Model.FromQearyDetails.ReasonsSpendMoneyMapping.Select(re => re.SpendMoney);
                    if (SpendPaymentsForThisReason.Any())
                    {

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">الأسم</th>
                                        <th scope="col">مجموع المبالغ</th>
                                        <th scope="col">تاريخ أخر أستقبال للمبلغ لهذا الشخص</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in SpendPaymentsForThisReason.GroupBy(x => x.NameId))
                                    {
                                        <tr>
                                            <td onclick="NameDetails('@item.Key')">@SpendPaymentsForThisReason.Where(x=>x.NameId == item.Key).Select(xx=>xx.Name.Name).First()</td>
                                            <td>@SpendPaymentsForThisReason.Where(x=>x.NameId == item.Key).Sum(x=>x.Amount)</td>
                                            <td>@SpendPaymentsForThisReason.Where(x => x.NameId == item.Key).OrderByDescending(x => x.Date).FirstOrDefault().Date</td>
                                        </tr>
                                    }

                            </table>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            لا يوجد مبالغ مصرفة لهذا السبب
                            <a asp-action="SpendMoney" asp-controller="Create" class="btn btn-label-secondary">
                                صرف مبالغ جديدة
                            </a>
                        </div>
                       

                    }

                }


            </div>
        }
    </div>
</div>


@section Stylesheet{
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    }

@section Scripts{
    <script src="~/assets/vendor/libs/select2/select2.js"></script>


    <script>


        $(document).ready(function () {

            $("#ReasonList").select2({
                placeholder: 'اختر اسما لأظهار تفاصيله',
                allowClear: true,
            });

            // Fetch names using $.get shorthand
            $.get('@Url.Action("GetReasons", "List")', function (data) {
                var options2 = $("#ReasonList");
                $.each(data, function () {
                    options2.append(new Option(this.name, this.id));
                });

                var fromQuery = '@Model.FromQuery';
                var personId = @Model.ReasonId;
                if (fromQuery == 'True') {
                    $("#ReasonList").val(personId);
                } else {
                    $("#ReasonList").val(null).trigger('change');
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error(textStatus, errorThrown);
            });

            // Handle selection change
            $("#ReasonList").change(function () {
                var id = $(this).val();
                if (id) {
                    window.location.href = '@Url.Action("Reason", "Statistics")?ReasonId=' + id;
                }
            });

            function NameDetails(nameId) {
                window.location.href = '@Url.Action("Names","Statistics")?NameId=' + nameId;
            }



        });





    </script>



    }
