@model SempleVM;
@{
    ViewData["Title"] = "الإحصائيات البسيطة";
    string display = Model.PersonalBalanceIsAvailable ? "block" : "none";
    string display2 = Model.YearIsAvailable ? "block" : "none";
}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    @* رصيد جميع الأشخاص *@
    <div class="card mb-3 ">
        <div class="card-header">
            <h5 class="form-label-lg">رصيد جميع الأشخاص</h5>
            <button class="btn btn-outline-dark float-end" id="PrintTableBtn">
                <i class="bx bx-printer"></i>
                <span class="d-lg-inline-block">طباعة الجدول</span>
            </button>
        </div>
        <div class="card-body">
            <div class="align-items-center justify-content-center ">
                <div class="table-responsive">
                    <table id="PersonsBalanceDataTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>الشخص</th>
                                <th>رقم الهاتف</th>
                                <th>جميع الايداعات</th>
                                <th>جميع المصروفات</th>
                                <th>الرصيد الشخصي</th>
                                @* <th>آخر نشاط للشخص</th> *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PersonsBalance)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.ReceivePayment ريال</td>
                                    <td>@item.SpendMoney ريال</td>
                                    <td>@item.TotalAmount</td>
                                    @*
                                <td>
                                @{
                                var LastReceivePayment = item.LastActivity.LastReceivePayment;
                                var LastSpendMoney = item.LastActivity.LastSpendMoney;
                                var Txt1 = (LastReceivePayment != null) ? "أخر ايداع بتاريخ " + LastReceivePayment : "";
                                var Txt2 = (LastSpendMoney != null) ? "أخر صرف بتاريخ " + LastSpendMoney : "";

                                if (!string.IsNullOrEmpty(Txt1) || !string.IsNullOrEmpty(Txt2))
                                {
                                <span>@Txt1</span>
                                <br />
                                <span>@Txt2</span>
                                }
                                }
                                </td> *@

                                </tr>
                            }
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content Page -->
@section Stylesheet {
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">

}

@section Scripts {
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/js/printThis.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.select2').select2({
                allowClear: true,
                placeholder: "أختيار من القائمة"
            });
            $('#YearList').select2({
                allowClear: true,
                placeholder: "أختيار من القائمة",
                dir: "rtl",
            });

            $('#YearList').on('change', function () {
                var selectedYear = $(this).val();
                var url = '@Url.Action("Semple", "Statistics")?StatisticsYear=' + selectedYear;
                window.location.href = url;
            });
            $('#YearList').on('select2:unselecting', function () {
                var url = '@Url.Action("Semple", "Statistics")';
                window.location.href = url
            });




            //PersonsBalanceDataTable
            var table = $('#PersonsBalanceDataTable').DataTable({
                lengthChange: false,
                buttons: [
                    {
                        extend: 'csv',
                        split: ['pdf', 'excel'],
                    }
                ],
                responsive: true,
                autoWidth: false,
                paging: false,
                language: {
                    "sProcessing": "جاري التحميل...",
                    "sLengthMenu": "إظهار _MENU_ المدخلات",
                    "sZeroRecords": "لا يوجد سجلات مطابقة",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                },
                columnDefs: [{ className: "dt-center", targets: [0, 1, 2, 3, 4] }],
                // if last column is has - value then set it to red color
                createdRow: function (row, data, dataIndex) {
                    if (data[4] < 0) {
                        $(row).find('td:eq(4)').css('color', 'red');
                        // add ريال to the value of the last column
                        $(row).find('td:eq(4)').text(data[4] + " ريال");
                    }
                }
            });
            $('#PrintTableBtn').on('click', function () {
                // Get the DataTable instance
                var table = $('#PersonsBalanceDataTable').clone();

                // set rtl direction
                table.attr('dir', 'rtl');

                // set first column to 25% width
                table.find('th:first-child, td:first-child').css('width', '25%');

                // // set last column to 25% width
                // table.find('th:last-child, td:last-child').css('width', '40%');

                var tit = "رصيد جميع الأشخاص";

                // print this table
                table.printThis()
            });







        });

    </script>
}
