@model SempleVM;
@{
    ViewData["Title"] = "أحصائيات بأسم معين";
    string display = Model.PersonalBalanceIsAvailable ? "block" : "none";
    string display2 = Model.YearIsAvailable ? "block" : "none";
    string Personalbadge = Model.PersonalTotalAmount < 0
                           ? "badge rounded-pill bg-danger"
                           : Model.PersonalTotalAmount == 0
                           ? "badge rounded-pill bg-warning"
                           : "badge rounded-pill bg-success";

}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    @* جميع الايداعات العامة *@
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title mb-3">الرصيد العام (كل السنوات)</h5>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-5">
                <div class="d-flex align-items-center mb-3 form-inline" style="font-size:x-large">
                    <div>
                        <span>جميع الايداعات العامة</span>
                        <span class="badge rounded-pill bg-info">@Model.AllReceivePaymentsAmount</span>
                    </div>
                    <span class="mx-5 mt-2">-</span>
                    <div>
                        <span>جميع الصرفيات العامة</span>
                        <span class="badge rounded-pill bg-warning">@Model.AllSpendMoneyAmount</span>
                    </div>
                    <span class="mx-5 mt-2">=</span>
                    <div class="mx-1">
                        <span>الرصيد العام</span>
                        @if (@Model.GeneralBalance < 0)
                        {
                            <span class="badge rounded-pill bg-danger">@Model.GeneralBalance</span>
                        }
                        else if (@Model.GeneralBalance == 0)
                        {
                            <span class="badge rounded-pill bg-warning">@Model.GeneralBalance</span>
                        }
                        else if (@Model.GeneralBalance > 0)
                        {
                            <span class="badge rounded-pill bg-success">@Model.GeneralBalance</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* جميع الايداعات السنوية *@
    <div class="card mb-3">
        <div class="d-flex card-header">
            <h5 class="card-title col-md-6">الرصيد السنوي للحساب العام</h5>
            <label class="mb-3 text-uppercase col-md-2" style="font-size:x-large">بحث في سنة المعنية</label>
            <div class="col-md-4">
                <select id="YearList" class="select2 form-select">
                    <option value="">اختر سنة</option>
                    @foreach (var item in Model.YearsList)
                    {
                        if (item.IsSelected)
                        {
                            <option selected value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="card-body" style="display:@display2">
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-5">
                <div class="d-flex align-items-center mb-3 form-inline" style="font-size:x-large">
                    <div>
                        <span>جميع الايداعات السنة</span>
                        <span class="badge rounded-pill bg-info">@Model.ReceivePaymentsYearlyData</span>
                    </div>
                    <span class="mx-5 mt-2">-</span>
                    <div>
                        <span>جميع الصرفيات السنة</span>
                        <span class="badge rounded-pill bg-warning">@Model.SpendMoneyYearlyData</span>
                    </div>
                    <span class="mx-5 mt-2">=</span>
                    <div class="mx-1">
                        <span>الرصيد السنوي</span>
                        @if (@Model.TotalAmountYearlyData < 0)
                        {
                            <span class="badge rounded-pill bg-danger">@Model.TotalAmountYearlyData</span>
                        }
                        else if (@Model.TotalAmountYearlyData == 0)
                        {
                            <span class="badge rounded-pill bg-warning">@Model.TotalAmountYearlyData</span>
                        }
                        else if (@Model.TotalAmountYearlyData > 0)
                        {
                            <span class="badge rounded-pill bg-success">@Model.TotalAmountYearlyData</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* الرصيد الشخصي *@
    <div class="card mb-3">
        <div class="card-header ">
            <h5 class="col-4 card-title">الرصيد الشخصي</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form asp-action="Semple" asp-controller="Statistics" method="get">
                        <div class="mb-2">
                            <label for="exampleFormControlInput1" class="form-label col-form-label">البحث بـأسم الشخص</label>
                            <select id="PersonalNamesList" name="PersonalNameId" class="select2 form-select" required>
                                <option value="">اختر اسم</option>
                                @foreach (var item in Model.NamesList)
                                {
                                    if (item.IsSelected)
                                    {
                                        <option selected value="@item.Value">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label col-form-label">البحث بـالسنة</label>
                            <select id="PersonalYearsList" name="PersonalYear" class="select2 form-select" required>
                                <option value="0000">كل السنوات</option>
                                @foreach (var item in Model.YearsList)
                                {
                                    if (item.IsSelected)
                                    {
                                        <option selected value="@item.Value">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-2 align-items-center justify-content-center">
                            <button type="submit" class="btn btn-primary ">بحث</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9" @(Model.PersonalBalanceIsAvailable ? "style=display:" + display : "style=display:none")>
                    <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-1 h-px-200">
                        <div class="d-flex align-items-center form-inline" style="font-size:20px">
                            <div>
                                <span>جميع ايداعات الشخص</span>
                                <span class="badge rounded-pill bg-info">@Model.PersonalReceivePayment</span>
                            </div>
                            <span class="mx-5 mt-2">-</span>
                            <div>
                                <span>جميع مصروفات الشخص</span>
                                <span class="badge rounded-pill bg-warning">@Model.PersonalSpendMoney</span>
                            </div>
                            <span class="mx-5 mt-2">=</span>
                            <div class="mx-1">
                                <span>الرصيد الشخصي</span>
                                <span class="@Personalbadge">@Model.PersonalTotalAmount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* رصيد جميع الأشخاص *@
    <div class="card mb-3 ">
        <div class="d-flex card-header">
            <div class="d-flex col-md-10">
                <h5 class="form-label-lg">رصيد جميع الأشخاص</h5>
            </div>
            <div class="col-md-2">
                <button class="mb-3 text-uppercase btn btn-outline-warning btn-sm" id="ShowPersonsBalanceDataBtn">عرض البيانات</button>
                <label class="mb-3 text-uppercase btn btn-outline-primary btn-sm" id="PrintTableBtn">
                    طباعة الجدول
                </label>
            </div>
        </div>
        <div class="card-body" id="PersonsBalanceCardBody" style="display:none;"
            <div class="align-items-center justify-content-center ">
                <div class="table-responsive">
                    <table id="PersonsBalanceDataTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>الشخص</th>
                                <th>رقم الهاتف</th>
                                <th>جميع الايداعات</th>
                                <th>جميع المصروفات</th>
                                <th>الرصيد الشخصي</th>
                                @* <th>آخر نشاط للشخص</th> *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PersonsBalance)
                            {
                                                                                        <tr>
                                                                                            <td>@item.Name</td>
                                                                                                <td>@item.PhoneNumber</td>
                                                                                                <td>@item.ReceivePayment ريال</td>
                                                                                                <td>@item.SpendMoney ريال</td>
                                                                                                <td>@item.TotalAmount</td>
                                    @*
                                                                            <td>
                                        @{
                                            var LastReceivePayment = item.LastActivity.LastReceivePayment;
                                            var LastSpendMoney = item.LastActivity.LastSpendMoney;
                                            var Txt1 = (LastReceivePayment != null) ? "أخر ايداع بتاريخ " + LastReceivePayment : "";
                                            var Txt2 = (LastSpendMoney != null) ? "أخر صرف بتاريخ " + LastSpendMoney : "";

                                            if (!string.IsNullOrEmpty(Txt1) || !string.IsNullOrEmpty(Txt2))
                                            {
                                                                                                                                                                        <span>@Txt1</span>
                                                                                                                                                                        <br />
                                                                                                                                                                        <span>@Txt2</span>
                                            }
                                        }
                                                                            </td> *@

                                                                                        </tr>
                            }
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content Page -->
@section Stylesheet {
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">

}

@section Scripts {
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/js/printThis.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.select2').select2({
                allowClear: true,
                placeholder: "أختيار من القائمة"
            });
            $('#YearList').select2({
                allowClear: true,
                placeholder: "أختيار من القائمة",
                dir: "rtl",
            });

            $('#YearList').on('change', function () {
                var selectedYear = $(this).val();
                var url = '@Url.Action("Semple", "Statistics")?StatisticsYear=' + selectedYear;
                window.location.href = url;
            });
            $('#YearList').on('select2:unselecting', function () {
                var url = '@Url.Action("Semple", "Statistics")';
                window.location.href = url
            });




            //PersonsBalanceDataTable
            var table = $('#PersonsBalanceDataTable').DataTable({
                lengthChange: false,
                buttons: [
                    {
                        extend: 'csv',
                        split: ['pdf', 'excel'],
                    }
                ],
                responsive: true,
                autoWidth: false,
                paging: false,
                language: {
                    "sProcessing": "جاري التحميل...",
                    "sLengthMenu": "إظهار _MENU_ المدخلات",
                    "sZeroRecords": "لا يوجد سجلات مطابقة",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                },
                columnDefs: [{ className: "dt-center", targets: [0, 1, 2, 3, 4] }],
                // if last column is has - value then set it to red color
                createdRow: function (row, data, dataIndex) {
                    if (data[4] < 0) {
                        $(row).find('td:eq(4)').css('color', 'red');
                        // add ريال to the value of the last column
                        $(row).find('td:eq(4)').text(data[4] + " ريال");
                    }
                }
            });
            $('#PrintTableBtn').on('click', function () {
                // Get the DataTable instance
                var table = $('#PersonsBalanceDataTable').clone();

                // set rtl direction
                table.attr('dir', 'rtl');

                // set first column to 25% width
                table.find('th:first-child, td:first-child').css('width', '25%');

                // // set last column to 25% width
                // table.find('th:last-child, td:last-child').css('width', '40%');

                var tit = "رصيد جميع الأشخاص";

                // print this table
                table.printThis()
            });

            $('#ShowPersonsBalanceDataBtn').on('click', function () {
                var PersonsBalanceCardBody = document.getElementById('PersonsBalanceCardBody');
                if (PersonsBalanceCardBody.style.display === "none") {
                    PersonsBalanceCardBody.style.display = "block";
                    $('#ShowPersonsBalanceDataBtn').text('إخفاء البيانات');
                    // chenge btn class to btn-outline-warning
                    $('#ShowPersonsBalanceDataBtn').removeClass('btn-outline-warning').addClass('btn-outline-danger');
                } else {
                    PersonsBalanceCardBody.style.display = "none";
                    $('#ShowPersonsBalanceDataBtn').text('عرض البيانات');
                    // chenge btn class to btn-outline-warning
                    $('#ShowPersonsBalanceDataBtn').removeClass('btn-outline-danger').addClass('btn-outline-warning');




                }

            });






        });

    </script>
}
