@{
    string? currentPage = Convert.ToString(((object[])ViewContext.RouteData.Values.Values)[1])!;
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-action="Names" asp-controller="List" class="app-brand-link">
            <span class="app-brand-logo demo">
                <i class="bx bx-calculator"></i>
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">محاسب</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase d-flex">
            <a class="mb-3" asp-action="Logout" asp-controller="Auth">
                <span class="menu-header-text">
                    تسجيل الخروج من النظام <span class="bx bx-log-out"></span>
                </span>
            </a>
            <a class="style-switcher-toggle hide-arrow mb-3" href="javascript:void(0);">
                <span class="menu-header-text">الوضع الليلي | النهاري</span>
                <i class="bx bx-sm"></i>
            </a>
            <a class="mb-3" asp-action="DawnloadDB" asp-controller="Statistics" target="_blank">
                <span class="menu-header-text">
                    تحميل قاعدة البيانات <span class="bx bx-download"></span><span class="bx bx-data"></span>
                </span>
            </a>
            <a class="mb-3" asp-action="DawnloadAllDataAsPDF" asp-controller="Statistics" target="_blank">
                <span class="menu-header-text">
                    جميع بيانات كملف PDF <span class="bx bx-download"></span><span class="bx bx-file"></span>
                </span>
            </a>
            <a class="mb-3" asp-action="DownloadAllDataAsExcel" asp-controller="Statistics" target="_blank">
                <span class="menu-header-text">
                    جميع بيانات كـExcel <span class="bx bx-download"></span><span class="bx bx-file"></span>
                </span>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">الأساسي</span>
        </li>
        <li class='menu-item @(currentPage == "Names" ? " active" : "")'>
            <a asp-controller="List" asp-action="Names" class="menu-link">
                <i class='menu-icon bx bx-bullseye'></i>
                <div>البيانات الأساسية للأعضاء</div>
            </a>
        </li>
        <li class='menu-item @(currentPage == "Reasons" ? " active" : "")'>
            <a asp-controller="List" asp-action="Reasons" class="menu-link">
                <i class='menu-icon bx bxs-universal-access'></i>
                <div>جميع الأسباب</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">الايداعات</span>
        </li>

        <li class='menu-item @(currentPage == "MonthlyReceivePayments" ? " active" : "")'>
            <a asp-controller="Create" asp-action="MonthlyReceivePayments" class="menu-link">
                <i class='menu-icon bx bxs-map-pin'></i>
                <div>الايداعات الشهرية</div>
            </a>
        </li>
        <li class='menu-item @(currentPage == "ReceivePayments" ? " active" : "")'>
            <a asp-controller="Create" asp-action="ReceivePayments" class="menu-link">
                <i class='menu-icon bx bxs-map-pin'></i>
                <div>ايداع شخصي</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">المصروفات</span>
        </li>

        <li class='menu-item @(currentPage == "SpendMoney" ? " active" : "")'>
            <a asp-controller="Create" asp-action="SpendMoney" class="menu-link">
                <i class='menu-icon bx bxl-slack-old'></i>
                <div>الصرف الشخصي</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "SpendMoneyForReason" ? " active" : "")'>
            <a asp-controller="Create" asp-action="SpendMoneyForReason" class="menu-link">
                <i class='menu-icon bx bx-bug-alt'></i>
                <div>صرف لـ سبب معين</div>
            </a>
        </li>
        <li class='menu-item @(currentPage == "TransferMoney" ? " active" : "")'>
            <a asp-controller="Create" asp-action="TransferMoney" class="menu-link">
                <i class='menu-icon bx bx-dollar'></i>
                <div>تحويل مبلغ</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">أحصائيات</span>
        </li>
        <li class='menu-item@(currentPage == "GeneralBalance" ? " active" : "")'>
            <a asp-controller="Statistics" asp-action="GeneralBalance" class="menu-link">
                <i class='menu-icon  bx bx-bold'></i>
                <div>الرصيد العام</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "Semple" ? " active" : "")'>
            <a asp-controller="Statistics" asp-action="Semple" class="menu-link">
                <i class='menu-icon  bx bx-adjust'></i>
                <div>الأحصائيات بسيطة</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "SpendMoney" ? " active" : "")'>
            <a asp-controller="List" asp-action="SpendMoney" class="menu-link">
                <i class='menu-icon bx bx-bug-alt'></i>
                <div>جميع المصروفات</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "ReceivePayments" ? " active" : "")'>
            <a asp-controller="List" asp-action="ReceivePayments" class="menu-link">
                <i class='menu-icon bx bxl-paypal'></i>
                <div>جميع الايداعات</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->